a.emoji-link {
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
}
.icons {
  width: 24px;
  height: 24px;
}
a.links {
  text-decoration: none;
}
html {
  color-scheme: light dark;
}
body {
  width: 35em; margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
.typing-body {
  font-size: 2em;
}
